/*文字コードを指定*/
@charset "UTF-8";

* {
    margin:0px;
    box-sizing: border-box;
    font-family: "Meiryo UI";
    letter-spacing: 2px;
}
header {
    height:50px;
    background: rgba(0,0,80,0.8);
    color:#ffffff;
}
header h1{
    font-size:32x;
    line-height: 50px;
    padding-left:10px;
}
footer{
    height:30px;
    line-height: 30px;
    background: rgba(0,0,0,0.8);
    color:#ffffff;
    text-align:center;
}
.main{
    margin:30px;    
}
.main h2{
    width:50%;
    margin-bottom:15px;
    border-bottom:1px solid #111111;
}
.main p{
    font-family: "MyricaM M","ＭＳ ゴシック";
    background: rgba(0,0,0,0.7);
    color:#ffffff;
    padding:10px 0px;
    margin-bottom:10px;
}
label:hover{
    background: #777777;    
    transition: 0.3s;
}
label{
    font-weight: bold;
    color:#ffffff;
    display:block;
    margin-bottom:10px;
    background: #aaaaaa;
    border-radius: 5px;
    text-align: center;
    padding:10px 0;
}
.answer{
    margin:30px;
    text-align: center;
}
.answer-button{
    width:45%;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.answer-button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}
